  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
  
  <script src="/assets/js/modernizr.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: [ 'Lato:400,700,400italic:latin', 'Volkhov::latin' ]
      }
    });
  </script>
  <noscript>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Volkhov' rel='stylesheet' type='text/css' />
  </noscript>

  {% seo %}
  
  <link type="text/plain" rel="author" href="{{ site.url }}{{ site.baseurl }}/humans.txt" />

  {% if page.noindex == true %}<meta name="robots" content="noindex" />{% endif %}

  {% include _favicon.html %}

  {% unless page.style == NULL %}
  <style type="text/css">{{ page.style }}</style>
  {% endunless %}