{% assign post=include.post %}

{% include shared/find_post_categories categories=post.categories %}
{% include shared/find_post_tags tags=post.tags %}
{% include shared/find_post_author author=post.author %}

<div id="page-meta" id="page-meta"{% if include.superscript %} style="margin-top: -0.8rem"{% endif %}>
  <p>
    
    <time class="pr20 icon-calendar" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished"> {{ post.date | date: "%Y-%m-%d" }}</time>

      {% for c in categories %}
        <span class="pr20 icon-archive"><a href="{{ c.url }}"> {{ c.title }}</a></span>
      {% endfor %}
        
    {% unless include.reduced %}    
      {% for t in pages %}
        <span class="pr20 icon-price-tag"><a href="{{ t.url }}"> {{ t.title }}</a></span>
      {% endfor %}
    {% endunless %}
      
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit">
        <a href="{{ author.uri }}" target="_blank"> {{ author.name }}</a>
    </span></span>

    {% if post.discourse_comments %}  
      <span class="pr20 icon-chat"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}#discourse-comments"> Discussion</a></span>
    {% endif %}
  </p>
</div>
